.env
node_modules/

uploads/covers/*
uploads/videos/*
uploads/stills/*
uploads/subtitles/*
uploads/images/*
uploads/logoPartners/*
uploads/medias/*
uploads/adminsidebar/*
uploads/jury/*

!uploads/covers/.gitkeep
!uploads/videos/.gitkeep
!uploads/stills/.gitkeep
!uploads/subtitles/.gitkeep
!uploads/images/.gitkeep
!uploads/logoPartners/.gitkeep

__pycache__/
*.pyc
